@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/css?family=Quantico); */
html, body {
  background: #111;
}

#gameContainer {
  display: block;
  border: 1px solid white;
  position: relative;
  padding: 3px;
  margin: auto;
  /* width: 800px; */
}

#breakoutCanvas {
  z-index: 1;
  border: 1px solid blue;
  position: absolute;
  /* background: 0.2; */
  /* left: 0;
  top: 0; */
}

#particleCanvas {
  z-index: 0;
  border: 1px solid red;
  padding: 1px;
  position: absolute;
  /* background: #111; */
  /* background: 0.2; */
  /* left: 0;
  top: 0; */
}
